<div class="main-header">
    <div class="main-title">
        <label class="font-weight-700">ElectronALPR - </label>
        <label>Welcome to Cross Platform: Automatic license plate recognition</label> 
    </div>
    <div class="main-side">
        <button id="button-refresh" type="submit">
            <img src="@Url.Content("~/assets/icon/reload.png")" alt=""/>
            <span>Refresh</span>
        </button>
    </div>
</div>
