@{
    ViewData["Title"] = "Error Page";
}

<div class="page-error">
    <img src="@Url.Content("~/assets/icon/disconnected.png")" alt=""/>
    <label class="font-weight-700">There was a problem displaying this page!</label>
    <label>This page either does not exist or an error occured</label>
</div>